*{
    all: 0;
}
.Menu{
    display: inline-flex;
    width: 100%;
}

body {
    overflow-x: hidden;
    padding-right: 1rem;
}
.LogoText > a > h3 {
    color: #000000;
    text-decoration: none;
}
.LogoText > a:hover{
    text-decoration: none;
}
.Header{
    display: flex;
}
/* ============================== */
.Video1{
    position: relative;
}
.Video2{
    border: 1px solid white;
    position: absolute;
    right: 0;
    margin: 5% 5% 0 0 ;
    width: 38%;
    border-radius: 10px;
}
.Video2 > video {
    width: 100%;
}
.Call{
    padding: 0;
}
.Chat{
    background-color: rgb(235, 233, 233);
    border-radius: 10px;
<<<<<<< HEAD
     
=======
>>>>>>> 6e78306dbe3e420a7fd16ef56c928893e0f49209
    
}
/* =================================================================================================================================================================== */


#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #343a40;
    padding: 15px;
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
}

#sidebar.show {
    transform: translateX(0);
}
.Video-main{
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#localVideo {
    width: 100%;
    float: left;
    position: relative;
    border-radius: 10px;
}

#sidebar .close-btn {
    position: absolute;
    top: 10px;

    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar-light .navbar-toggler {
    color: black;
    border-color: black;
    border: none;
    padding: 0;
}
.navbar-toggler-icon{
    margin: 3px 5px;
}
.navbar-toggler:focus{
    outline: none;
}
.navbar-toggler:hover{
    background-color: rgb(241, 241, 241);
    border-radius: 30%;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.close-btn:focus{
    outline: none;
}

/* =================================================================================================================================================================== */
.Service{
    z-index: 100;
}
.Service > a{
    color: black;
}
.Service1{
    border-bottom: 1px solid rgb(238, 238, 238);
    margin-bottom: 5%;
}
.Service2{
    height: 90%;
}
.Service2 > ul {
    padding: 0;
    bottom: 0;
    width: 100%;
}
.ServiceMenu{
    list-style: none;
    margin: 15px 0px 0 0 ;
    padding: 0 0 0 15px;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}
.MenuText {
    margin-left: 8px;
    color: black;
}
#localVideo{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}
.iconMenu{
    align-items: center;
    height: 100%;
}
.MenuText:hover{
    text-decoration: none;
    color: black;
}
.ServiceMenu:hover{
    background-color: #eeeeee;
}
.User:hover .UserButton{
    background-color: #eeeeee;
    
}
.Non-User{
    display: none;
    position: absolute;
    margin-top: 38px;
    right: 0;
    z-index: 98;
    list-style: none;
    background-color: #f1f1f1;
    border:  1px solid grey;
    padding:  8px 10px;
    line-height: 2;
    border-radius: 10px;
}
.Non-User > li > a {
    color: #000000;
    text-decoration: none;
    
}
.Non-User > li > a > img {
    margin-right: 7px;
}
.Non-User > li {
    padding: 5px 8px;
}
.Non-User > li:hover{
    background-color: #e4e2e2;
    border-radius: 7px;
}

.Non-menu , .navbar, .Header, .User {
    width: 100%;
}
.User{
    padding-top: 5px;
}

.User > a > img{
    float: right;
}

/* =================================================================================================================================================================== */
.BoxChat{
    width: 100%;
    height: 91%;
    max-height: 900px;
}
.SendMessage {
    position: relative;
    display: flex;
<<<<<<< HEAD
=======
    
>>>>>>> 6e78306dbe3e420a7fd16ef56c928893e0f49209
}

.Send-Button{
    margin-top: 12px;
    right: 0;
    position: absolute;
    margin-right: 15px;
    padding: 6px 7px 8px 12px;
}
.Send-Image{
    margin-top: 12px;
    right: 0;
    position: absolute;
    margin-right: 95px;
    padding: 6px 7px 8px 12px;
}
.VoidToText{
    margin-top: 12px;
    right: 0;
    position: absolute;
    margin-right: 55px;
    padding: 6px 7px 8px 12px;
}
.Send-Button:hover{
    background-color: #dfdfdf;
    color: #28c6ee;
    border-radius: 50px;
}
.Send-Image:hover{
    background-color: #dfdfdf;
    color: #28c6ee;
    border-radius: 50px;
}
.VoidToText:hover{
    background-color: #dfdfdf;
    color: #28c6ee;
    border-radius: 50px;
}
.input-box {
    position: relative;
    max-width: 100%;
}
.input {
    position: relative;
    width: 100%;
    height: 20%;
<<<<<<< HEAD
    padding: 1.3rem 1rem 1.3rem 1rem;
=======
    padding: 1.3rem 1rem 1.2rem 1rem;
>>>>>>> 6e78306dbe3e420a7fd16ef56c928893e0f49209
    background: none;
    border: solid 1px #9e9e9e;
    border-radius: .6rem;
    color: #000000;
    font-size: 1rem;
}
  .label {
    position: absolute;
    pointer-events: none;
    left: 0.7rem;
    top: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    line-height: 2rem;
    padding-left: 1rem;
    font-size: 1rem;
    color: #9e9e9e;
    transition: 500ms cubic-bezier(0.4,0,0.2,1);
  }
  
  .input:focus~.label, input:valid ~ label {
    top: -4px;
    outline: none;
<<<<<<< HEAD
}
  


.message-container {
    display: flex;

    margin: 10px;
    justify-content: flex-end;
}

.avatar {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 7px;
    margin-left: 7px;
}

.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    word-wrap: break-word;
    margin: 5px;
}

.my-message {
    background-color: #a6dbf0;
    color: rgb(0, 0, 0);
    align-self: flex-end;
}

.their-message {
    background-color: #f1f0f0;
    color: black;
    align-self: flex-start;
}

.delete-button {
    bottom: 0   ;
    height: 20px;
    background: none;
    border: none;
    color: rgb(95, 95, 95);
    cursor: pointer;
    font-size: 12px;
}
.delete-button:focus{
    outline: none;
    color: red  ;
}
=======
    left: -5px;
    font-size: .8rem;
    color: #b9b9b9;
  }


  
>>>>>>> 6e78306dbe3e420a7fd16ef56c928893e0f49209
